*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #F5F7FB;
    font-family: 'Karla', sans-serif;
}

button{
    cursor: pointer;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.interface{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #293264;
}

.interface > h2 {
    font-size: 40px;
    margin: 0;
    text-shadow: 1.5px 1.5px 1px rgb(63, 97, 124);
}

#start-quiz, #checkAns{
    width: 193px;
    height: 52px;
    margin: 10px 0;
    background: #4D5B9E;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    text-shadow: 0.8px 0.5px black;
}

.scoreDiv{
    display: flex;
    gap: 30px;
    margin: 50px auto;
}

.answer{
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #293264;
    border-radius: 12px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}

.answer:hover{
    background-color: whitesmoke;
}

#quesContainer{
    padding: 8% 16%;
    display: flex;
    flex-direction: column;
    color: #293264;
}

.ansDiv{
    width: fit-content;
    display: flex;
    gap: 20px;
}

.checkedHighlight{
    background-color: #D6DBF5;
}

.scoreElement{
    display: none;
    text-align: center;
}

/* Loading spinnner */

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}